.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.flex-parent-element {
  justify-content: center;
  display: flex;
  margin-top: 150px;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
}

.flex-child-element:first-child {
  margin-right: 20px;
}

#navLinks {
  align-items: start;
  display: flex;
  flex-direction: column;
}

.sideNav {
  align-items: center;
  display: flex;
  flex-basis: 150px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 125px;
}

.vLine {
  border-left: 3px solid black;
  height: 500px;
}